<%= render 'banner' %>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>
 
<p>
  <strong>Summary:</strong>
  <%= @news.summary %>
</p>

<p>
  <strong>Text:</strong>
  <%= @news.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>Online:</strong>
  <%= @news.online %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>